affine==2.3.0
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
anyio==2.2.0
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==20.1.0
async-generator==1.10
async-timeout==4.0.2
attrs==20.3.0
babel==2.9.0
backcall==0.2.0
backports.entry-points-selectable==1.1.1
black==21.12b0
bleach==3.3.0
boto3==1.17.101
botocore==1.20.101
branca==0.4.2
brotlipy==0.7.0
cached-property==1.5.2
certifi==2021.10.8
cffi==1.14.5
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.10
click==8.0.3
click-plugins==1.1.1
cligj==0.7.2
clikit==0.6.2
cmasher==1.6.3
cmdstanpy==0.9.5
colorspacious==1.1.2
convertdate==2.3.2
crashtest==0.3.1
cryptography==3.4.7
cycler==0.10.0
cython==0.29.26
datapackage==1.15.2
datetime==4.3
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.3
docutils==0.17.1
e13tools==0.9.6
entrypoints==0.3
ephem==4.1.3
et-xmlfile==1.0.1
fasteners==0.14.1
filelock==3.4.0
flake8==3.9.2
fonttools==4.28.2
frozenlist==1.2.0
future==0.18.2
greenlet==1.1.0
hijri-converter==2.2.2
holidays==0.12
httpstan==4.6.1
identify==2.4.0
idna==2.10
ijson==3.1.4
imagesize==1.3.0
imbalanced-learn==0.8.1
importlib-metadata==4.11.4
ipykernel==5.3.4
ipyleaflet==0.14.0
ipython-genutils==0.2.0
ipython==7.21.0
ipywidgets==7.6.3
isodate==0.6.0
isort==5.10.1
jedi==0.17.2
jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
json5==0.9.5
jsonlines==2.0.0
jsonpointer==2.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-packaging==0.7.12
jupyter-server==1.4.1
jupyterlab-pygments==0.1.2
jupyterlab-server==2.3.0
jupyterlab-widgets==1.0.0
jupyterlab==3.0.11
kiwisolver==1.3.1
korean-lunar-calendar==0.2.1
linear-tsv==1.1.0
lunarcalendar==0.0.9
lz4==3.1.10
markdown==3.3.4
markupsafe==1.1.1
marshmallow==3.14.1
matplotlib==3.5.0
mccabe==0.6.1
mistune==0.8.4
monotonic==1.5
multidict==5.2.0
mypy-extensions==0.4.3
myst-parser==0.17.0
nbsphinx==0.8.9
nbclassic==0.2.6
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
nodeenv==1.6.0
notebook==6.4.0
numpy==1.21.4
openpyxl==3.0.7
packaging==20.9
pandas==1.3.4
pandocfilters==1.4.3
parso==0.7.0
pastel==0.2.1
pathspec==0.9.0
patsy==0.5.1
pexpect==4.8.0
piccolo-theme==0.11.1
pickleshare==0.7.5
pillow==8.1.2
pip==21.0.1
platformdirs==2.4.0
plotly==4.14.3
pockets==0.9.1
pre-commit==2.15.0
pretty-confusion-matrix==0.1.1
prometheus-client==0.9.0
prompt-toolkit==3.0.17
ptyprocess==0.7.0
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.1
pygments==2.8.1
pylev==1.4.0
pymeeus==0.5.11
pyopenssl==20.0.1
pyparsing==2.4.7
pyproj==3.0.1
pyrsistent==0.17.3
pysimdjson==3.2.0
pysocks==1.7.1
pystan==3.3.0
python-dateutil==2.8.1
pytz==2021.1
pyyaml==6.0
pyzmq==20.0.0
regex==2021.11.10
requests==2.25.1
retrying==1.3.3
rfc3986==1.5.0
richdem==0.3.4
s3transfer==0.4.2
scikit-learn==0.24.1
scipy==1.6.2
seaborn==0.11.2
send2trash==1.5.0
shapely==1.7.1
six==1.15.0
sklearn==0.0
sniffio==1.2.0
snowballstemmer==2.2.0
snuggs==1.4.7
sphinx-gallery==0.10.1
sphinx-rtd-theme==1.0.0
sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlalchemy==1.4.19
statsmodels==0.12.2
supersmoother==0.4
tableschema==1.20.2
tabulator==1.53.5
terminado==0.9.4
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
tomli==1.2.2
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
traittypes==0.2.1
typing-extensions==4.0.1
unicodecsv==0.14.1
urllib3==1.26.4
virtualenv==20.10.0
wcwidth==0.2.5
webargs==8.0.1
webencodings==0.5.1